/* Box Content Styling */

.box {
    background-color: #006cfa;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}

.nested-box {
    background-color: #00e165;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    
}